# Python 102

#### We will cover:
- A bit more on data structures
    - Range object
    - Sets
    - tuple unpacking, zipping
    - casting
- if/elif/else statements
    - in keyword
    - multiple conditions (and, or)
    - comparison operators
- for loops and while loops
    - break and continue
    - iterating through lists and dictionaries
    - nested loops
- defining functions
    - lambda function syntax

### More on data structures!

In [1]:
myList = [1, 2, 3]
myList

[1, 2, 3]

In [5]:
list(range(0,100,4))

[0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96]

In [6]:
{1,3,4,56,5,5,5,5,77} #set

{1, 3, 4, 5, 56, 77}

In [ ]:
#casting is when you turn an int to a str or a str to an int

In [8]:
students = ['David','Gray','Hsin','Meagan']
hobbies = ['Board games','Baking','Piano','Writing']

In [9]:
list(zip(students)) #turns list into a tuple

[('David',), ('Gray',), ('Hsin',), ('Meagan',)]

In [10]:
list(zip(students, hobbies))

[('David', 'Board games'),
 ('Gray', 'Baking'),
 ('Hsin', 'Piano'),
 ('Meagan', 'Writing')]

In [11]:
j = ("airpods", "yeezys", "nyc apartments")

In [12]:
overpriced_headphones, overpriced_shoes, overpriced_apartments = j

In [13]:
overpriced_headphones

'airpods'

### If, elif, else statements

In [15]:
if 'jo' in 'joseph':
    print(True)

True

In [16]:
myString = 'this is a string with spaces'
myString.split(' ')

['this', 'is', 'a', 'string', 'with', 'spaces']

### For loops and while loops

In [18]:
for idx, ele in enumerate([1,2,3,4,5]):
    print(idx, ele)

0 1
1 2
2 3
3 4
4 5

In [20]:
bay = enumerate([5,6,7,8,9])
list(bay)

[(0, 5), (1, 6), (2, 7), (3, 8), (4, 9)]

In [21]:
for ele in range(0,100):
    if ele % 5 == 0:
        continue
    print(ele)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99

In [25]:
for ele in range (0,100):
    if ele % 5 == 0:
        break 
    print(ele)

In [26]:
for ele in range (1,100):
    if ele % 5 == 0:
        break 
    print(ele)

1
2
3
4

In [27]:
shopping_dict = {'Grocieries': {'ben & jerrys': 5.29, 'cheese': 2.79,'ham': 25.0, 'kale': 2.75,'kefir': 4.5,'oranges': 3.64,'tofu four-pack': 12.0,'whole milk': 3.42},
                 'House supplies': {'toilet paper pack': 16.50, 'clorox spray': 6.43, 'kleenex': 2.50,},
                 'Pet supplies': {'Taste of the Wild': 65.20, 'squeaky toy': 4.50, 'duck feet': 8.45}}

In [40]:
for key, val in shopping_dict.items(): # .items turns the dict into a list
    dict_val_list = list(val.values())
    dict_key_list = list(val.keys())

    for idx, item in enumerate(dict_val_list): #idx and item correspond to one another due to enumerate 
        if item > 10:
            print(dict_key_list[idx])

ham
tofu four-pack
toilet paper pack
Taste of the Wild

### Functions

In [38]:
def addFive(x = 0):
    return x + 5

In [39]:
addFive()

5

#### Appendix of examples and data

In [2]:
# Example Data
group_lunch = [
    {'ingredient1': 'rice', 'ingredient2': 'unagi', 'ingredient3': 'miso soup'},
    {'ingredient1': 'seaweed', 'ingredient2': 'tempura', 'ingredient3': 'miso soup'},
    {'ingredient1': 'hamburger', 'ingredient2': 'french fries', 'ingredient3': 'milkshake'}
]

shopping_dict = {'Grocieries': {'ben & jerrys': 5.29, 'cheese': 2.79,'ham': 25.0, 'kale': 2.75,'kefir': 4.5,'oranges': 3.64,'tofu four-pack': 12.0,'whole milk': 3.42},
                 'House supplies': {'toilet paper pack': 16.50, 'clorox spray': 6.43, 'kleenex': 2.50,},
                 'Pet supplies': {'Taste of the Wild': 65.20, 'squeaky toy': 4.50, 'duck feet': 8.45}}

students = ['David','Gray','Hsin','Meagan']
hobbies = ['Board games','Baking','Piano','Writing']

In [11]:
# While loop example
while g not in ['1', '2', '3', '4', '5']:
    g = raw_input("Enter a number between 1 and 5 : ")

In [15]:
i = 0
while i < 6:
    if i == 3:
        print("foo")
    i += 1
    print(i)

1
2
3
foo
4
5
6