In [19]:
pip install jupyter_contrib_nbextensions

Requirement already satisfied: jupyter_contrib_nbextensions in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (0.5.1)
Requirement already satisfied: ipython_genutils in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (0.2.0)
Requirement already satisfied: jupyter_contrib_core>=0.3.3 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (0.3.3)
Requirement already satisfied: jupyter_core in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (4.5.0)
Requirement already satisfied: jupyter_highlight_selected_word>=0.1.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (0.2.0)
Requirement already satisfied: jupyter_latex_envs>=1.3.8 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (1.4.4)
Requirement already satisfied: jupyter_nbextensions_configurator>=0.4.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (0.4.1)
Requirement already satisfied: nbconvert>=4.2 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (5.5.0)
Requirement already satisfied: notebook>=4.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (5.7.8)
Requirement already satisfied: pyyaml in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (5.2)
Requirement already satisfied: tornado in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (6.0.3)
Requirement already satisfied: traitlets>=4.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (4.3.2)
Requirement already satisfied: lxml in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_nbextensions) (4.4.1)
Requirement already satisfied: setuptools in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_contrib_core>=0.3.3->jupyter_contrib_nbextensions) (41.2.0)
Requirement already satisfied: ipython in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter_latex_envs>=1.3.8->jupyter_contrib_nbextensions) (7.8.0)
Requirement already satisfied: entrypoints>=0.2.2 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.3)
Requirement already satisfied: jinja2>=2.4 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (2.10.1)
Requirement already satisfied: bleach in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (1.5.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (1.4.2)
Requirement already satisfied: mistune>=0.8.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.8.4)
Requirement already satisfied: defusedxml in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.6.0)
Requirement already satisfied: pygments in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (2.4.2)
Requirement already satisfied: nbformat>=4.4 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (4.4.0)
Requirement already satisfied: testpath in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.4.2)
Requirement already satisfied: pyzmq>=17 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (18.1.0)
Requirement already satisfied: ipykernel in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (5.1.2)
Requirement already satisfied: Send2Trash in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (0.8.2)
Requirement already satisfied: prometheus-client in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (0.7.1)
Requirement already satisfied: jupyter-client>=5.2.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (5.3.3)
Requirement already satisfied: six in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from traitlets>=4.1->jupyter_contrib_nbextensions) (1.12.0)
Requirement already satisfied: decorator in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from traitlets>=4.1->jupyter_contrib_nbextensions) (4.4.0)
Requirement already satisfied: pickleshare in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython->jupyter_latex_envs>=1.3.8->jupyter_contrib_nbextensions) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython->jupyter_latex_envs>=1.3.8->jupyter_contrib_nbextensions) (4.7.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython->jupyter_latex_envs>=1.3.8->jupyter_contrib_nbextensions) (0.1.0)
Requirement already satisfied: backcall in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython->jupyter_latex_envs>=1.3.8->jupyter_contrib_nbextensions) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython->jupyter_latex_envs>=1.3.8->jupyter_contrib_nbextensions) (0.15.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from ipython->jupyter_latex_envs>=1.3.8->jupyter_contrib_nbextensions) (2.0.9)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jinja2>=2.4->nbconvert>=4.2->jupyter_contrib_nbextensions) (1.1.1)
Requirement already satisfied: html5lib!=0.9999,!=0.99999,<0.99999999,>=0.999 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from bleach->nbconvert>=4.2->jupyter_contrib_nbextensions) (0.9999999)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from nbformat>=4.4->nbconvert>=4.2->jupyter_contrib_nbextensions) (3.0.2)
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jupyter-client>=5.2.0->notebook>=4.0->jupyter_contrib_nbextensions) (2.8.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from pexpect; sys_platform != "win32"->ipython->jupyter_latex_envs>=1.3.8->jupyter_contrib_nbextensions) (0.6.0)
Requirement already satisfied: parso>=0.5.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jedi>=0.10->ipython->jupyter_latex_envs>=1.3.8->jupyter_contrib_nbextensions) (0.5.1)
Requirement already satisfied: wcwidth in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->jupyter_latex_envs>=1.3.8->jupyter_contrib_nbextensions) (0.1.7)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=4.2->jupyter_contrib_nbextensions) (19.1.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/anaconda3/envs/learn-env/lib/python3.6/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=4.2->jupyter_contrib_nbextensions) (0.14.11)
Note: you may need to restart the kernel to use updated packages.

In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}

In [2]:
#Lesson 2

In [3]:
import pandas as pd

In [4]:
orders = pd.read_table('http://bit.ly/chiporders')

In [5]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
user_cols = ['user_id', 'age', 'occupation', 'zip_code']
users = pd.read_table('http://bit.ly/movieusers', sep = '|', header = None, names = user_cols)

In [7]:
users.head()

   user_id age  occupation zip_code
1       24   M  technician    85711
2       53   F       other    94043
3       23   M      writer    32067
4       24   M  technician    43537
5       33   F       other    15213

In [8]:
#Lesson 3

In [10]:
ufo = pd.read_csv('http://bit.ly/uforeports') #or read_table(sep=',')

In [11]:
type(ufo)

pandas.core.frame.DataFrame

In [12]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [13]:
ufo['City'], type(ufo['City'])

(0                      Ithaca
 1                 Willingboro
 2                     Holyoke
 3                     Abilene
 4        New York Worlds Fair
                  ...
 18236              Grant Park
 18237             Spirit Lake
 18238             Eagle River
 18239             Eagle River
 18240                    Ybor
 Name: City, Length: 18241, dtype: object, pandas.core.series.Series)

In [14]:
#or
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [15]:
ufo['Shape Reported'] #has space so can't use dot notation as above

0        TRIANGLE
1           OTHER
2            OVAL
3            DISK
4           LIGHT
           ...
18236    TRIANGLE
18237        DISK
18238         NaN
18239       LIGHT
18240        OVAL
Name: Shape Reported, Length: 18241, dtype: object

In [16]:
#cant use dot notation for column names that share method names

In [17]:
ufo.City + ' ' + ufo.State

0                      Ithaca NY
1                 Willingboro NJ
2                     Holyoke CO
3                     Abilene KS
4        New York Worlds Fair NY
                  ...
18236              Grant Park IL
18237             Spirit Lake IA
18238             Eagle River WI
18239             Eagle River WI
18240                    Ybor FL
Length: 18241, dtype: object

In [18]:
#have to use bracket notation not dot notation when creating a new column
ufo['Location'] = ufo.City + ' ' + ufo.State
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,Ithaca NY
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,Willingboro NJ
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,Holyoke CO
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,Abilene KS
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,New York Worlds Fair NY

In [ ]:
#Lesson 4