In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}

In [2]:
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols

In [3]:
ps = pd.read_csv('pek-sha.csv')

In [4]:
ps.shape

(300336, 14)

In [16]:
ps.sort_values(['cabinClass'])

,ID,flightNumber,craftTypeCode,depAirport,traAirport,arrAirport,departureDate,arrivalDate,cabinClass,priceClass,price,rate,createDate,dateDifference
0,14393,HO1252,320,PEK,0,SHA,2019-01-04 06:35:00,2019-01-04 08:55:00,C,C,1860,1.00,2019-01-03 14:26:15,1
49923,1913594,HU7603,738,PEK,0,SHA,2019-01-11 21:25:00,2019-01-11 23:40:00,C,C,5660,1.00,2019-01-06 21:30:08,5
49922,1913524,MU5128,359,PEK,0,SHA,2019-01-11 21:00:00,2019-01-11 23:15:00,C,J,5360,1.00,2019-01-06 21:30:08,5
49921,1913498,MU5128,359,PEK,0,SHA,2019-01-11 21:00:00,2019-01-11 23:15:00,C,Q,2980,0.56,2019-01-06 21:30:08,5
49920,1913449,CA1589,773,PEK,0,SHA,2019-01-11 20:30:00,2019-01-11 22:40:00,C,J,5660,1.00,2019-01-06 21:30:08,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171785,71233949,CA1885,320,PEK,0,SHA,2019-07-02 18:30:00,2019-07-02 20:40:00,Y,Y,1490,1.00,2019-06-30 00:38:56,2
171786,71233953,FM9108,73L,PEK,0,SHA,2019-07-02 18:30:00,2019-07-02 20:50:00,Y,B,1350,0.99,2019-06-30 00:38:56,2
171787,71233954,FM9108,73L,PEK,0,SHA,2019-07-02 18:30:00,2019-07-02 20:50:00,Y,B,1350,0.99,2019-06-30 00:38:56,2
171778,71233939,MU5122,33L,PEK,0,SHA,2019-07-02 18:00:00,2019-07-02 20:15:00,Y,B,1480,0.99,2019-06-30 00:38:56,2
300335,80162967,MU5390,325,PEK,1,SHA,2019-07-30 13:10:00,2019-07-30 18:10:00,Y,Y,1490,1.00,2019-07-23 05:58:47,7

In [ ]:
p

In [6]:
ps.traAirport.fillna(0, inplace = True)

In [7]:
ps.traAirport.replace('LYA', 1, inplace =True)

In [8]:
ps.drop(['ID','flightNumber', 'depAirport', 'arrAirport', 'priceClass', ]

In [18]:
pd.crosstab(ps.priceClass, ps.cabinClass)

cabinClass      C      F      Y
priceClass
A             279   7394    944
B               0      0  26576
BZ              0      0      2
C            9261      0      0
D            6274      0      0
E               0      0   1520
F               0  17100      0
G               0      0   7121
H               0      0   2863
I           13970      0      0
J           31014      0      0
K               0      0  10835
L               0      0   6962
M               0      0   3379
M1              0      0   1014
MC              0      0      4
N               0      0   8820
NZ              0      0      1
P               0   8093   3822
Q            3848      0   8309
R            4914      0  12525
S               0      0  11846
S1              0      0   2663
T               0      0   6342
U               0     44   4110
V               0      0  13858
VZ              0      0      3
W               0      0  18434
X               0      0   1057
XC              0      0      3
Y               0      0  36724
Z            5317      0   3091