In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}

In [405]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df = pd.read_csv('ds_glassdoor_jobs.csv')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$108K-$145K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
1,Data Scientist,$108K-$145K (Glassdoor est.),Who We Are\n\nWere Americas largest mortgage l...,3.9,Quicken Loans\n3.9,"Detroit, MI","Detroit, MI",10000+ employees,1985,Company - Private,Lending,Finance,$10+ billion (USD),"Citi, Bank of America, Wells Fargo"
2,Data Scientist,$108K-$145K (Glassdoor est.),GEICO’s Data Science team uses predictive anal...,3.3,GEICO\n3.3,"Chevy Chase, MD","Washington, DC",10000+ employees,1936,Subsidiary or Business Segment,Insurance Carriers,Insurance,$10+ billion (USD),-1
3,Data Scientist,$108K-$145K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310781\n\n...,3.8,Pacific Northwest National Laboratory\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$108K-$145K (Glassdoor est.),JOB CATEGORY:\n\nInformation Services\n\nREQUI...,3.9,Mars\n3.9,New York State,"Mc Lean, VA",10000+ employees,1911,Company - Private,Food & Beverage Manufacturing,Manufacturing,$10+ billion (USD),-1

### Data Cleaning

#### Cleaning The Salary Estimate Feature

In [20]:
df['Salary Estimate'].value_counts()

-1                              133
$60K-$100K (Glassdoor est.)      35
$69K-$113K (Glassdoor est.)      34
$108K-$145K (Glassdoor est.)     30
$67K-$109K (Glassdoor est.)      25
                               ...
$62K-$114K (Glassdoor est.)       1
$63K-$99K (Glassdoor est.)        1
$65K-$124K (Glassdoor est.)       1
$66K-$117K (Glassdoor est.)       1
$108K-$146K (Glassdoor est.)      1
Name: Salary Estimate, Length: 502, dtype: int64

##### Dropping rows where the salary estimate in null

In [27]:
df = df[df['Salary Estimate'] != '-1']

##### Creating Feature for average salary

Isolated the min expected yearly salary and max expected salary added the values up and divided by 2

In [ ]:
df['Salary Estimate'] = [x[:10] for x in df['Salary Estimate']]
df['Salary Estimate'] = [x.replace('$', '') for x in df['Salary Estimate']]
df['Salary Estimate'] = [x.replace('K', '') for x in df['Salary Estimate']]
df['Salary Estimate'] = [x.replace('-', '') for x in df['Salary Estimate']]

In [ ]:
df['min_salary'] = [int(x[:2]) if len(x) < 6 else int(x[:3]) for x in df['Salary Estimate']]

In [ ]:
df['max_salary'] = [int(x[2:]) if len(x) < 6 else int(x[3:]) for x in df['Salary Estimate']]

In [ ]:
df['avg_salary'] = (df.min_salary+df.max_salary)/2

In [214]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary
0,Data Scientist,108145,"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,108,145,126.5
1,Data Scientist,108145,Who We Are\n\nWere Americas largest mortgage l...,3.9,Quicken Loans\n3.9,"Detroit, MI","Detroit, MI",10000+ employees,1985,Company - Private,Lending,Finance,$10+ billion (USD),"Citi, Bank of America, Wells Fargo",108,145,126.5
2,Data Scientist,108145,GEICO’s Data Science team uses predictive anal...,3.3,GEICO\n3.3,"Chevy Chase, MD","Washington, DC",10000+ employees,1936,Subsidiary or Business Segment,Insurance Carriers,Insurance,$10+ billion (USD),-1,108,145,126.5
3,Data Scientist,108145,*Organization and Job ID**\nJob ID: 310781\n\n...,3.8,Pacific Northwest National Laboratory\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",108,145,126.5
4,Data Scientist,108145,JOB CATEGORY:\n\nInformation Services\n\nREQUI...,3.9,Mars\n3.9,New York State,"Mc Lean, VA",10000+ employees,1911,Company - Private,Food & Beverage Manufacturing,Manufacturing,$10+ billion (USD),-1,108,145,126.5

##### Cleaning Company Name

In [ ]:
df['CompName'] = [x if x in df['Rating'] < 0 else x[:-4] for x in df['Company Name']]

##### Feature Engingeering State Job Location

In [ ]:
df['State'] = [x[-2:] for x in df.Location]

In [333]:
df.State.unique() #te is for Remote

array(['VA', 'MI', 'MD', 'WA', 'NY', 'WI', 'MA', 'CO', 'FL', 'DC', 'PA',
       'NE', 'CA', 'MO', 'AL', 'UT', 'WV', 'IL', 'MN', 'TN', 'NC', 'NJ',
       'TX', 'te', 'OK', 'OH', 'NM', 'KY', 'OR', 'CT', 'GA', 'IN', 'LA',
       'AZ', 'ID', 'RI', 'IA', 'SC', 'KS', 'AK', 'VT', 'ME', 'ND'],
      dtype=object)

##### Feature Engineering if headquarters and job location same place

In [ ]:
df['Same_State'] = np.where(df['Location'] == df['Headquarters'] , 1, 0)

##### Feature Engineering to see if difference in pay between internationol companies and non-international companies

In [ ]:
Foreign_Countries = ['Japan', 'Canada','Switzerland','Belgium','Germany', 'China','United Kingdom','Bermuda','Spain','India','France','Singapore','South Korea']

In [ ]:
df['HQ_Country/State'] = [x.split(', ')[1] for x in df.Headquarters]
df['International_HQ'] = [1 if x in Foreign_Countries else 0 for x in df['HQ_Country/State']]

##### Feature Engineering Company Age

In [ ]:
df['Comp_Age'] = np.where(df['Founded'] >= 0 , 2020 - df['Founded'] , -1)

##### Feature Engineering Job Title column

In [368]:
def job_title(title):
    if 'data scientist' in title.lower() or 'data science' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'data analyst'
    elif 'machine learning engineer' in title.lower() or 'machine learning' in title.lower():
        return 'mle'
    else:
        return 'na'

In [ ]:
df['job_title'] = df['Job Title'].apply(job_title)

In [1044]:
df['job_title'].value_counts()

data scientist    386
data analyst      251
data engineer     188
mle               107
na                 49
Name: job_title, dtype: int64

###### Hard coded missing job title values; went through description one by one to determine job title

In [953]:
df.loc[103, 'job_title'] = 'data engineer'

In [1040]:
df.loc[561, 'job_title'] = 'data scientist'

In [1031]:
df.loc[510, 'job_title'] = 'data analyst'

##### Feature Engineered Seniority Column

In [ ]:
def seniority(desc):
    if '0' in desc.lower() or '1' in desc.lower() or '2' in desc.lower():
        return '0-2 Yrs Experience'
    elif '2' in desc.lower() or '3' in desc.lower() or '4' in desc.lower() or '5' in desc.lower():
        return '2-5 Yrs Experience'
    else:
        return '5+ Yrs Experience'

In [ ]:
df['Seniority'] = df['Job Title'].apply(seniority)

Had to manually check how accurate this feature came out, by checking each description manually, and if didn't match hard coded

In [ ]:
df.loc[459, 'Seniority'] = '0-2 Yrs Experience'

In [ ]:
df.loc[49, 'Seniority'] = '2-5 Yrs Experience'

In [ ]:
df.loc[600, 'Seniority'] = '5+ Yrs Experience'

##### Feature engineering column for length of Job Description

In [384]:
df['job_desrcipt_lc'] = [len(x) for x in df['Job Description']]

##### Cleaned Revenue Column - Hard Coded missing values, Used Owler as a resource for missing values

In [1059]:
df.Revenue.value_counts()

Unknown / Non-Applicable            299
$100 to $500 million (USD)          125
$10+ billion (USD)                  103
$1 to $2 billion (USD)               72
$10 to $25 million (USD)             62
$500 million to $1 billion (USD)     61
$50 to $100 million (USD)            60
$2 to $5 billion (USD)               55
$25 to $50 million (USD)             52
$1 to $5 million (USD)               30
$5 to $10 billion (USD)              25
$5 to $10 million (USD)              19
Less than $1 million (USD)           12
-1                                    6
Name: Revenue, dtype: int64

In [ ]:
df.loc[566, 'Revenue'] = 'StartUp'

In [ ]:
df.loc[437, 'Revenue'] = '$500 million to $1 billion (USD)'

In [ ]:
df.loc[683, 'Revenue'] = '10+ billion (USD)'

##### Feature Engineering Degrees

###### Bachelor's Degree

In [ ]:
def bachelor(desc):
    if 'bachelor' in desc.lower() or 'bachelors' in desc.lower() or "bachelor's" in desc.lower() \
    or 'BA' in desc or 'BS' in desc:
        return 1
    else:
        return 0

In [ ]:
df['Bachelor'] = df['Job Description'].apply(bachelor)

###### Master's Degree

In [ ]:
def master(desc):
    if 'master' in desc.lower() or 'masters' in desc.lower() or "master's" in desc.lower() \
    or 'MA' in desc or 'MS' in desc or 'M.A.' in desc or 'A.M.' is desc or 'msc' in desc.lower() \
    or 'm.s.' in desc.lower() or 's.m.' in desc.lower():
        return 1
    else:
        return 0

In [ ]:
df['Master'] = df['Job Description'].apply(master)

###### PhD

In [ ]:
def phd(desc):
    if 'phd' in desc.lower() or 'PhD' in desc.lower() or 'ph.d' in desc.lower() or 'doctor' in desc.lower() \
    or 'doctorate' in desc.lower():
        return 1
    else:
        return 0

In [ ]:
df['PhD'] = df['Job Description'].apply(phd)

##### Feature Engineering Certain Skills

In [ ]:
df['Python'] = [1 if 'python' in x.lower() else 0 for x in df['Job Description']]
df['Sql'] = [1 if 'sql' in x.lower() else 0 for x in df['Job Description']]
df['Aws'] = [1 if 'aws' in x.lower() else 0 for x in df['Job Description']]
df['Azure'] = [1 if 'azure' in x.lower() else 0 for x in df['Job Description']]
df['Scala'] = [1 if 'scala' in x.lower() else 0 for x in df['Job Description']]
df['Java'] = [1 if 'java' in x.lower() else 0 for x in df['Job Description']]
df['Pyspark'] = [1 if 'pyspark' in x.lower() else 0 for x in df['Job Description']]
df['Hadoop'] = [1 if 'hadoop' in x.lower() else 0 for x in df['Job Description']]
df['Kafa'] = [1 if 'kafka' in x.lower() else 0 for x in df['Job Description']]
df['Hive'] = [1 if 'hive' in x.lower() else 0 for x in df['Job Description']]
df['NoSQL'] = [1 if 'nosql' in x.lower() else 0 for x in df['Job Description']]
df['Redshift'] = [1 if 'redshift' in x.lower() else 0 for x in df['Job Description']]
df['Linux'] = [1 if 'linux' in x.lower() else 0 for x in df['Job Description']]
df['Tableau'] = [1 if 'tableau' in x.lower() else 0 for x in df['Job Description']]
df['Oracle'] = [1 if 'oracle' in x.lower() else 0 for x in df['Job Description']]
df['Git'] = [1 if 'git' in x.lower() else 0 for x in df['Job Description']]
df['Airflow'] = [1 if 'airflow' in x.lower() else 0 for x in df['Job Description']]
df['MySQL'] = [1 if 'mysql' in x.lower() else 0 for x in df['Job Description']]
df['PostgreSQL'] = [1 if 'postgresql' in x.lower() else 0 for x in df['Job Description']]
df['Google_Cloud'] = [1 if 'google cloud' in x.lower() else 0 for x in df['Job Description']]
df['MongdoDB'] = [1 if 'mongodb' in x.lower() else 0 for x in df['Job Description']]
df['Tensorflow'] = [1 if 'tensorflow' in x.lower() else 0 for x in df['Job Description']]
df['Excel'] = [1 if 'excel' in x.lower() else 0 for x in df['Job Description']]
df['Matlab'] = [1 if 'matlab' in x.lower() else 0 for x in df['Job Description']]
df['Keras'] = [1 if 'keras' in x.lower() else 0 for x in df['Job Description']]
df['Pandas'] = [1 if 'pandas' in x.lower() else 0 for x in df['Job Description']]
df['Javascript'] = [1 if 'javascript' in x.lower() else 0 for x in df['Job Description']]
df['NumPy'] = [1 if 'numpy' in x.lower() else 0 for x in df['Job Description']]
df['Scipy'] = [1 if 'scipy' in x.lower() else 0 for x in df['Job Description']]
df['Pytorch'] = [1 if 'pytorch' in x.lower() else 0 for x in df['Job Description']]
df['Xml'] = [1 if 'xml' in x.lower() else 0 for x in df['Job Description']]
df['PowerBI'] = [1 if 'powerbi' in x.lower() else 0 for x in df['Job Description']]
df['Bokeh'] = [1 if 'bokeh' in x.lower() else 0 for x in df['Job Description']]
df['Github'] = [1 if 'github' in x.lower() else 0 for x in df['Job Description']]
df['Docker'] = [1 if 'docker' in x.lower() else 0 for x in df['Job Description']]
df['Scikit'] = [1 if 'scikit-learn' in x.lower() else 0 for x in df['Job Description']]
df['NLP'] = [1 if 'nlp' in x.lower() else 0 for x in df['Job Description']]

##### Saving Cleaned DataFrame

In [ ]:
df.to_csv('cleaned_ds_glassdoor_jobs.csv', index = False)