In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df = pd.read_csv('hc_ds_glassdoor_jobs.csv')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Same_State,Comp_Age,job_title,Seniority,job_descript_lc,python,sql,aws,scala,pyspark
0,Data Scientist,108145,"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,...,0,52,data scientist,na,3490,0,1,0,0,0
1,Data Scientist,108145,Who We Are\n\nWere Americas largest mortgage l...,3.9,Quicken Loans\n3.9,"Detroit, MI","Detroit, MI",10000+ employees,1985,Company - Private,...,1,35,data scientist,na,4376,1,1,0,0,0
2,Data Scientist,108145,GEICO’s Data Science team uses predictive anal...,3.3,GEICO\n3.3,"Chevy Chase, MD","Washington, DC",10000+ employees,1936,Subsidiary or Business Segment,...,0,84,data scientist,na,3785,1,1,1,0,0
3,Data Scientist,108145,*Organization and Job ID**\nJob ID: 310781\n\n...,3.8,Pacific Northwest National Laboratory\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,1,55,data scientist,na,5144,0,0,0,0,0
4,Data Scientist,108145,JOB CATEGORY:\n\nInformation Services\n\nREQUI...,3.9,Mars\n3.9,New York State,"Mc Lean, VA",10000+ employees,1911,Company - Private,...,0,109,data scientist,na,5423,1,0,1,0,1

In [5]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'CompName', 'State',
       'Same_State', 'Comp_Age', 'job_title', 'Seniority', 'job_descript_lc',
       'python', 'sql', 'aws', 'scala', 'pyspark'],
      dtype='object')

In [7]:
df_model = df[['avg_salary','Rating','Size','Type of ownership', 'Sector','Revenue','State','Comp_Age','job_title','Seniority','Same_State','job_descript_lc','python','sql','aws','scala','pyspark']]

In [8]:
df_dum = pd.get_dummies(df_model, drop_first = True)

In [9]:
df_dum.head()

,avg_salary,Rating,Comp_Age,Same_State,job_descript_lc,python,sql,aws,scala,pyspark,...,State_WV,State_te,job_title_data engineer,job_title_data scientist,job_title_director,job_title_manager,job_title_mle,job_title_na,Seniority_na,Seniority_sr
0,126.5,4.1,52,0,3490,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,126.5,3.9,35,1,4376,1,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,126.5,3.3,84,0,3785,1,1,1,0,0,...,0,0,0,1,0,0,0,0,1,0
3,126.5,3.8,55,1,5144,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,126.5,3.9,109,0,5423,1,0,1,0,1,...,0,0,0,1,0,0,0,0,1,0

###### Train Test Split

In [11]:
from sklearn.model_selection import train_test_split

X = df_dum.drop('avg_salary', axis = 1)
y = df_dum.avg_salary.values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state =42)

###### Multiple Linear Regression

In [12]:
import statsmodels.api as sm

X_sm = X = sm.add_constant(X)
model = sm.OLS(y, X_sm)
model.fit().summary()

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.364
Model:                            OLS   Adj. R-squared:                  0.291
Method:                 Least Squares   F-statistic:                     4.975
Date:                Wed, 20 May 2020   Prob (F-statistic):           3.63e-45
Time:                        13:32:22   Log-Likelihood:                -5165.3
No. Observations:                1105   AIC:                         1.056e+04
Df Residuals:                     990   BIC:                         1.114e+04
Df Model:                         114
Covariance Type:            nonrobust
====================================================================================================================
                                                       coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------
const                                               57.6520     28.342      2.034      0.042       2.034     113.270
Rating                                              -0.8441      1.205     -0.700      0.484      -3.209       1.521
Comp_Age                                             0.0185      0.028      0.669      0.503      -0.036       0.073
Same_State                                          -0.7223      1.965     -0.368      0.713      -4.578       3.133
job_descript_lc                                      0.0005      0.001      0.762      0.446      -0.001       0.002
python                                               3.5808      2.139      1.674      0.094      -0.617       7.779
sql                                                 -2.1153      2.056     -1.029      0.304      -6.149       1.919
aws                                                 -1.0628      2.198     -0.484      0.629      -5.376       3.250
scala                                                4.2407      2.299      1.845      0.065      -0.271       8.752
pyspark                                            -11.5622      5.643     -2.049      0.041     -22.636      -0.489
Size_1 to 50 employees                               0.2303      5.236      0.044      0.965     -10.044      10.504
Size_10000+ employees                               10.3763      5.419      1.915      0.056      -0.257      21.009
Size_1001 to 5000 employees                          7.7465      4.178      1.854      0.064      -0.452      15.945
Size_201 to 500 employees                            2.6848      4.499      0.597      0.551      -6.145      11.514
Size_5001 to 10000 employees                         7.4947      5.242      1.430      0.153      -2.793      17.782
Size_501 to 1000 employees                           1.1792      4.581      0.257      0.797      -7.811      10.170
Size_51 to 200 employees                             6.0991      4.766      1.280      0.201      -3.254      15.452
Size_Unknown                                        14.4549     10.662      1.356      0.176      -6.468      35.378
Type of ownership_College / University               0.3507     12.736      0.028      0.978     -24.642      25.343
Type of ownership_Company - Private                  4.1936      4.525      0.927      0.354      -4.686      13.073
Type of ownership_Company - Public                   4.1336      4.832      0.856      0.392      -5.348      13.615
Type of ownership_Contract                          14.4906     19.129      0.758      0.449     -23.048      52.029
Type of ownership_Government                        10.1784      9.371      1.086      0.278      -8.211      28.568
Type of ownership_Hospital                         -16.4994     13.904     -1.187      0.236     -43.783      10.784
Type of ownership_Nonprofit Organization             3.3244      5.492      0.605      0.545      -7.453      14.102
Type of ownership_Other Organization                 8.4670     11.755      0.720      0.472     -14.601      31.535
Type of ownership_Private Practice / Firm           23.9790     26.401      0.908      0.364     -27.829      75.787
Type of ownership_School / School District         -16.4428     20.202     -0.814      0.416     -56.087      23.202
Type of ownership_Subsidiary or Business Segment     5.9630      5.656      1.054      0.292      -5.136      17.062
Type of ownership_Unknown                            8.1277     10.199      0.797      0.426     -11.887      28.143
Sector_Accounting & Legal                            1.4689     17.362      0.085      0.933     -32.602      35.540
Sector_Aerospace & Defense                          12.9348      8.282      1.562      0.119      -3.317      29.187
Sector_Agriculture & Forestry                      -12.2204     30.372     -0.402      0.688     -71.821      47.380
Sector_Arts, Entertainment & Recreation            -26.0538     28.582     -0.912      0.362     -82.141      30.034
Sector_Biotech & Pharmaceuticals                     9.3096      7.544      1.234      0.217      -5.495      24.114
Sector_Business Services                             2.3030      7.181      0.321      0.749     -11.789      16.395
Sector_Construction, Repair & Maintenance           13.1629     39.859      0.330      0.741     -65.055      91.381
Sector_Consumer Services                            -3.1483     12.531     -0.251      0.802     -27.740      21.443
Sector_Education                                     7.4244     10.039      0.740      0.460     -12.275      27.124
Sector_Finance                                       6.9771      7.685      0.908      0.364      -8.103      22.057
Sector_Government                                    7.8793     10.115      0.779      0.436     -11.971      27.730
Sector_Health Care                                   9.8501      8.300      1.187      0.236      -6.438      26.138
Sector_Information Technology                       10.0635      6.927      1.453      0.147      -3.530      23.657
Sector_Insurance                                     3.2579      7.876      0.414      0.679     -12.197      18.713
Sector_Manufacturing                                 5.4658      8.394      0.651      0.515     -11.007      21.938
Sector_Media                                        17.5877      9.342      1.883      0.060      -0.745      35.920
Sector_Mining & Metals                             -11.5877     14.374     -0.806      0.420     -39.794      16.619
Sector_Non-Profit                                    5.7352     11.489      0.499      0.618     -16.810      28.280
Sector_Oil, Gas, Energy & Utilities                 -5.8931     11.092     -0.531      0.595     -27.660      15.874
Sector_Real Estate                                   7.5180     12.788      0.588      0.557     -17.576      32.612
Sector_Retail                                        7.8033     10.626      0.734      0.463     -13.048      28.655
Sector_Telecommunications                            4.4250     13.058      0.339      0.735     -21.199      30.049
Sector_Transportation & Logistics                   -8.5065     11.986     -0.710      0.478     -32.028      15.015
Sector_Travel & Tourism                             -1.7810     13.806     -0.129      0.897     -28.874      25.312
Revenue_$1 to $5 million (USD)                      -2.5668      6.813     -0.377      0.706     -15.936      10.802
Revenue_$10 to $25 million (USD)                     1.3050      5.950      0.219      0.826     -10.372      12.982
Revenue_$10+ billion (USD)                          -0.2657      5.792     -0.046      0.963     -11.632      11.101
Revenue_$100 to $500 million (USD)                   4.8894      4.781      1.023      0.307      -4.493      14.272
Revenue_$2 to $5 billion (USD)                       0.4697      5.614      0.084      0.933     -10.547      11.486
Revenue_$25 to $50 million (USD)                     0.6128      6.152      0.100      0.921     -11.459      12.684
Revenue_$5 to $10 billion (USD)                      8.0109      7.201      1.112      0.266      -6.121      22.142
Revenue_$5 to $10 million (USD)                     18.7851      8.427      2.229      0.026       2.249      35.321
Revenue_$50 to $100 million (USD)                    8.9991      5.817      1.547      0.122      -2.415      20.414
Revenue_$500 million to $1 billion (USD)            -5.1302      5.597     -0.917      0.360     -16.114       5.853
Revenue_-1                                           7.3862     11.475      0.644      0.520     -15.133      29.905
Revenue_Less than $1 million (USD)                  10.1143      9.640      1.049      0.294      -8.803      29.032
Revenue_Unknown / Non-Applicable                     4.0837      4.759      0.858      0.391      -5.256      13.423
State_AL                                           -25.3714     29.144     -0.871      0.384     -82.563      31.820
State_AZ                                           -20.0819     29.037     -0.692      0.489     -77.063      36.899
State_CA                                            -2.9315     27.922     -0.105      0.916     -57.724      51.861
State_CO                                            -9.3306     28.355     -0.329      0.742     -64.973      46.312
State_CT                                            -0.4320     29.884     -0.014      0.988     -59.076      58.212
State_DC                                            -9.6886     28.423     -0.341      0.733     -65.466      46.088
State_FL                                           -16.8547     28.276     -0.596      0.551     -72.343      38.633
State_GA                                           -30.6277     29.383     -1.042      0.297     -88.288      27.032
State_IA                                            -9.2031     29.534     -0.312      0.755     -67.160      48.753
State_ID                                           -28.6572     34.162     -0.839      0.402     -95.696      38.382
State_IL                                            -9.3587     28.169     -0.332      0.740     -64.637      45.920
State_IN                                           -18.6210     29.175     -0.638      0.523     -75.873      38.631
State_KS                                           -18.2958     34.247     -0.534      0.593     -85.501      48.910
State_KY                                           -17.6883     29.834     -0.593      0.553     -76.233      40.856
State_LA                                           -25.5712     30.239     -0.846      0.398     -84.911      33.769
State_MA                                           -15.9176     27.965     -0.569      0.569     -70.796      38.960
State_MD                                           -18.3734     28.265     -0.650      0.516     -73.839      37.092
State_ME                                             1.5238     39.512      0.039      0.969     -76.014      79.061
State_MI                                           -13.3120     28.924     -0.460      0.645     -70.071      43.447
State_MN                                           -10.8157     29.743     -0.364      0.716     -69.182      47.551
State_MO                                           -15.8364     28.558     -0.555      0.579     -71.877      40.204
State_NC                                           -27.6261     28.673     -0.964      0.336     -83.892      28.640
State_ND                                             5.8161     39.890      0.146      0.884     -72.462      84.094
State_NE                                           -29.3223     32.691     -0.897      0.370     -93.474      34.829
State_NJ                                            -9.9907     28.333     -0.353      0.724     -65.590      45.608
State_NM                                           -17.3060     30.370     -0.570      0.569     -76.904      42.292
State_NY                                           -11.3333     27.972     -0.405      0.685     -66.224      43.557
State_OH                                           -15.9085     28.568     -0.557      0.578     -71.970      40.153
State_OK                                           -18.4033     40.242     -0.457      0.648     -97.372      60.565
State_OR                                           -13.0595     29.711     -0.440      0.660     -71.362      45.243
State_PA                                           -12.8609     28.386     -0.453      0.651     -68.565      42.844
State_RI                                            10.3902     32.766      0.317      0.751     -53.908      74.689
State_SC                                           -23.0530     30.010     -0.768      0.443     -81.944      35.838
State_TN                                           -19.2841     29.181     -0.661      0.509     -76.547      37.979
State_TX                                           -19.8956     28.127     -0.707      0.480     -75.091      35.300
State_UT                                           -16.7118     28.761     -0.581      0.561     -73.151      39.727
State_VA                                           -18.5056     28.016     -0.661      0.509     -73.483      36.472
State_VT                                            10.8492     34.293      0.316      0.752     -56.446      78.144
State_WA                                           -11.3765     28.293     -0.402      0.688     -66.898      44.145
State_WI                                           -15.3678     28.806     -0.533      0.594     -71.896      41.161
State_WV                                           -13.5261     34.076     -0.397      0.691     -80.396      53.344
State_te                                            -5.7070     29.537     -0.193      0.847     -63.669      52.255
job_title_data engineer                             31.1558      3.396      9.174      0.000      24.491      37.821
job_title_data scientist                            35.9925      2.794     12.880      0.000      30.509      41.476
job_title_director                                  72.9958      9.013      8.099      0.000      55.309      90.682
job_title_manager                                   24.3194      7.732      3.145      0.002       9.147      39.492
job_title_mle                                       31.0336      4.106      7.559      0.000      22.977      39.090
job_title_na                                        27.4547      2.917      9.413      0.000      21.731      33.179
Seniority_na                                         6.0421     16.506      0.366      0.714     -26.348      38.433
Seniority_sr                                        18.9945     16.621      1.143      0.253     -13.621      51.610
==============================================================================
Omnibus:                      101.170   Durbin-Watson:                   1.256
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              167.517
Skew:                           0.642   Prob(JB):                     4.21e-37
Kurtosis:                       4.411   Cond. No.                     1.65e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.8e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
np.mean(cross_val_score(lm,X_train,y_train,scoring = 'neg_mean_absolute_error', cv=3))

-23.116990991648425

###### Random Forest Model

In [16]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
np.mean(cross_val_score(rf, X_train, y_train, scoring = 'neg_mean_absolute_error', cv=3))

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

-23.163434047280465

###### GridSearchCV

In [17]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators' :range(10,300,10), 'criterion':('mse','mae'), 'max_features':('auto','sqrt','log2')}
gs = GridSearchCV(rf, parameters, scoring = 'neg_mean_absolute_error', cv=3)
gs.fit(X_train, y_train)

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'criterion': ('mse', 'mae'),
                         'max_features': ('auto', 'sqrt', 'log2'),
                         'n_estimators': range(10, 300, 10)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)