In [ ]:
import statistics

In [ ]:
a = [100, 200, 300, 500, 900]

In [ ]:
statistics.variance(a)

In [ ]:
statistics.mean(a)

In [ ]:
statistics.stdev(a)

In [ ]:
def find_outlier(integers):
    ce = []
    co = []
    for x in integers:
        if x%2==0:
            ce.append(x)
        if x%2==1:
            co.append(x)
    if len(ce)>len(co):
        return co
    else:
        return ce

In [ ]:
find_outlier([2,4,6,9])

In [ ]:
a=[4,5]
a.remove(4)
a

In [ ]:
def array_diff(a, b):
    c = [x for x in a]
    for x in a:
        if x == b[0]:
            a.remove(x)
    return "a was {}, b was {}, expected {}".format(c,b,a)

In [ ]:
array_diff([1,2], [1])

In [ ]:
b = []
b == []

In [ ]:
def array_diff(a, b):
    c = [x for x in a]
    if b == []:
        return "a was {}, b was {}, expected {}".format(a,b,a)
    elif a == []:
        return "a was {}, b was {}, expected {}".format(a,b,a)
    else:
    
        for x in a:
            if x == b[0]:
                a.remove(x)
            return "a was {}, b was {}, expected {}".format(c,b,a)

In [ ]:
array_diff([5,0,-12,-17],[])

In [ ]:
num = xs.mean()*ys.mean() - (xs*ys).mean()
    den = pow(xs.mean(),2) - (xs**2).mean()
    return num/den

In [ ]:
a ='123456786'
a[:4]
a[4:]
len(a)%4
b = a[:-len(a)%4]
b

In [ ]:
len(a)

In [ ]:
-(len(a)%4)

In [ ]:
a[:-(len(a)%4)]

In [ ]:
a = 10110111

In [ ]:
str(a)

In [ ]:
x = bin(4)
x

In [ ]:
sen = "Hello Fellow Warriors"

In [ ]:
sen = sen.split()

In [ ]:
a=[]
for x in sen:
    if len(x) < 5:
        a.append(x)
    if len(x) >= 5:
        a.append(x[::-1])
print(' '.join(a))

In [22]:
a = 371

tot = []
for x in str(value):
    tot.append((int(x)**3))
if sum(tot) == value:
    print ('{} is narcisstic'.format(value))

371 is narcisstic

In [20]:
len(str(value))

3

In [36]:
def narcissistic(value):
    tot = []
    exp = len(str(value))
    for x in str(value):
        tot.append(int(x)**exp)
    if sum(tot) == value:
        return True
    else:
        return False

In [37]:
a = [int(x)**len(str(value)) for x in str(value)]
if sum(a)== value:
    return True
else:
    False

In [23]:
narcissistic(a)

'371 is not narcissistic'

In [25]:
b = str(a)

In [28]:
for x in b:
    print(int(x)**3)

27
343
1

In [35]:
narcissistic(1)

'1 is narcissistic'

In [43]:
def nar(value):
    a = [int(x)**len(str(value)) for x in str(value)]
    if sum(a)== value:
        return True
    else:
        return False

In [46]:
nar(153)

True

In [2]:
'hello'

'hello'

In [3]:
data1 = [1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,1,0,1,0,1,0]

In [5]:
b = str(data1)

In [8]:
b[::-1]

']0 ,1 ,0 ,1 ,0 ,1 ,0 ,1 ,1 ,1 ,1 ,1 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,1 ,1 ,1 ,1 ,1 ,1 ,1 ,1['

In [11]:
l = data1[:8]

In [ ]:
data1[8:16]
data1[16:24]
data1[24:32]

In [25]:
a = []
a + data1[24:32]

[1, 0, 1, 0, 1, 0, 1, 0]

In [13]:
m = data1[8:16]
m

[0, 0, 0, 0, 0, 0, 0, 0]

In [14]:
m+l

[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1]

In [17]:
len(data1)/2

16.0

In [ ]:
for x in list(range(0,4)):
    data1[:8]

In [30]:
for x in list(range(0+1,4+1)):

[1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0]