In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('RaamLevy_COLLECTED_PAIR.csv')
df.head()

,Artist Name,Artwork Title,Second Sale Date,Second Auction House,Second Low & High Estimates (M),Second Realized Price (M),Second Currency of Transaction,Second Link,First Sale Date,First Auction House,First Low & High Estimates (M),First Realized Price (M),First Currency of Transaction,First Link
0,Mark Rothko,"""Blue Over Red""",11/14/19,Sotheby's,25-35,26.461,USD,https://www.sothebys.com/en/auctions/ecatalogu...,11/08/05,Christie's NY,4.5-6.5,5.616,USD,https://www.christies.com/lotfinder/Lot/mark-r...

In [4]:
df.drop(['Second Auction House', 'Second Low & High Estimates (M)',
         'Second Currency of Transaction', 'Second Link', 'First Auction House',
         'First Low & High Estimates (M)', 'First Currency of Transaction','First Link'] , axis=1, inplace=True)

In [5]:
df.head()

,Artist Name,Artwork Title,Second Sale Date,Second Realized Price (M),First Sale Date,First Realized Price (M)
0,Mark Rothko,"""Blue Over Red""",11/14/19,26.461,11/08/05,5.616

In [6]:
df.to_csv('RaamLevy_PRICES_AND_DATES.csv', index = False)