In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}

In [2]:
import pandas as pd

df = pd.read_csv('RaamLevy_PRICES_AND_DATES.csv')
df.head()

,Artist Name,Artwork Title,Second Sale Date,Second Realized Price (M),First Sale Date,First Realized Price (M)
0,Mark Rothko,"""Blue Over Red""",11/14/19,26.461,11/08/05,5.616